:root {
    --primary-font-family: 'Roboto', sans-serif;
    --primary-text-color-light-background: #212121;
    --secondary-text-color-light-background: #757575;
    --accept-item-text-color: #2196f3;
    --dark-theme-background: #2f303a;
    --light-theme-background: #ffffff;
    --middle-theme-background: #f5f4fa;
    --light-icon-color: #afb1b8;
}