.benefits-list__icon-container {
    @extend %flex-align-justify;
    height: 120px;
    background-color: var(--middle-theme-background);
    border-radius: 4px;
    margin-bottom: 30px;
}

.benefits-list__item-title {
    @include font (700, 14px, 16px);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color-light-background);
    margin-bottom: 10px;
    text-align: center;
}

.benefits-list__item-descriptoin {
    @include font (400, 14px, 24px);
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-light-background);
}

// MOBILE

@media screen and (max-width: 767px) {
    .benefits-list__item:not(:last-child) {
        margin-bottom: 30px;
    }
}

// TABLET

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .benefits-list__item {
        flex-basis: calc((100% - 30px)/2);
    
        &:nth-child(2n + 1) {
            margin-right: 30px;
        }
    
        &:not(:nth-last-child(-n + 2)) {
            margin-bottom: 30px;
        }
    }
}

@media screen and (min-width: 768px) {
    .benefits-list {
        display: flex;
        flex-wrap: wrap;
    }

    .benefits-list__item-title {
        text-align: left;
    }
}

// DESKTOP

@media screen and (min-width: 1200px) {
    .benefits-list {
        flex-wrap: nowrap;
    }

    .benefits-list__item {
        flex-basis: calc((100% - 30px)/4);
    
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}