.logo {
    font-family: 'Raleway', sans-serif;
    @include font (700, 24px, 28px);
    letter-spacing: 0.03em;
    color: var(--accept-item-text-color);
}

.logo__studio_black {
    color: #000000;
}

.logo__studio_white {
    color: var(--light-theme-background);
}

@media screen and (min-width: 768px) {
    .logo.logo-top {
        margin-right: 88px;
        padding: 26px 0;
    }
    
}

@media screen and (min-width: 1200px) {
    .logo,
    .logo-top {
        @include font (700, 26px, 31px);
        margin-right: 93px;
    }
}