.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accept-item-text-color);
    
    &.logo-top {
        margin-right: 93px;
        padding: 24px 0;
    }
}

.logo__studio_black {
    color: #000000;
}

.logo__studio_white {
    color: var(--light-theme-background);
}