.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 500ms linear, visibility 500ms linear;
    
    &.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background: var(--light-theme-background);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;
}

.modal-window__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

.modal-window__btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
    .modal-window__close-btn:hover & {
        fill: var(--accept-item-text-color);
    }
}

.modal-window__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
}

.modal-form__input-field {
    display: block;
    margin-bottom: 10px;
}

.modal-form__input-lable {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color-light-background);
}

.modal-form__input-container {
    display: block;
    position: relative;
}

.modal-form__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 42px;
    
    &:focus {
        outline: none;
        border-color: var(--accept-item-text-color);
    }
}

.modal-form__input-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    fill: var(--primary-text-color-light-background);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal-form__input:focus + & {
        fill: var(--accept-item-text-color);
    }
}

.modal-form__comment {
    resize: none;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 16px;
    margin-bottom: 20px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        outline: none;
        border-color: var(--accept-item-text-color);
    }

    &::placeholder {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
}

.modal-form__checkbox-container {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.modal-form__checkbox-lable {
    @extend %flex-align-justify;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-light-background);
}

.modal-form__checkbox_nochecked {
    display: flex;
    align-items: center;
    width: 16px;
    height: 15px;
    border: 2px solid var(--primary-text-color-light-background);
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal-form__checkbox:focus+.modal-form__checkbox-lable & {
        border-color: var(--accept-item-text-color);
    }

    .modal-form__checkbox:checked+.modal-form__checkbox-lable & {
        border: none;
    }
}

.modal-form__checkbox_checked {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal-form__checkbox:checked+.modal-form__checkbox-lable .modal-form__checkbox_nochecked & {
        opacity: 1;
    }
}

.modal-form__policy-link {
    text-decoration: underline;
    color: var(--accept-item-text-color);
}

.modal-form__submit-btn {
    display: block;
    margin: 0 auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--light-theme-background);
    background-color: var(--accept-item-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 10px 56px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #188CE8;
    }
}

