// MOBILE & TABLET

.section-title {
    @include font (700, 28px, 33px);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color-light-background);
    margin-bottom: 30px;
}

// DESKTOP

@media screen and (min-width: 1200px) {
    .section-title.section-title {
        @include font (700, 36px, 42px);
        margin-bottom: 50px;
    }
}
